h1,
h2, 
h3, 
h4,
h5,
h6 {
    margin: 0 !important;
    padding: 0 !important;
}
.my-border {
    border: 1px solid #d0d0d0;
    border-radius: 8px;
}
.category {
    background: rgba(0, 0, 147, 0.6);
    border-radius: 8px;
    color: rgb(255,255,255); 
}
span {
    font-size: 0.875rem;
    font-weight: 500;
}
.message {
    background-color: rgba(255, 0, 0, 0.3);
    color: darkred;
    border-radius: 5px;
    border: 1px solid red;
}
